@charset "utf-8";


aside img {
   display: block;
   max-width: 700px;
   margin: 5px auto;
}

p {
   align-items: center;
   columns: 2;
   margin-left: 40px;
   background-color: rgba(255, 101, 196, 0.425);
   backdrop-filter: blur(8px);
   border-radius: 20px;
   max-width: 1800px;
}

@media (max-aspect-ratio:1/1) {
   p {
      columns: 2;
      position: absolute;
      top: 30%;
      left: 20%;
      font-size: 80px;
      width: 1500px;
   }

   nav {
      position: absolute;
      font-size: 100px;
      left: 50%;
   }


}