@charset "utf-8";

html {
	background: radial-gradient(rgba(255, 244, 144, 0.925), rgb(255, 158, 67), rgb(255, 35, 237));
	background-size: 100vw 100vh;
	color: rgb(255, 255, 255);
	font-family: "Lobster Two", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
}

.tree1 {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 200%;
	height: 200%;
	object-fit: cover;
	z-index: -1;
	opacity: 0.3;
}

.tree2 {
	position: absolute;
	top: 1.5%;
	left: 75%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	opacity: 0.3;
}

.tree {
	position: absolute;
	top: 45%;
	;
	right: 39.5%;
	object-fit: cover;
	z-index: -1;
	opacity: 0.6;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Honk", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 80px;
	width: 100%;
	text-align: center;
	color: white;
	text-decoration: none;
}

/* Font classes */
.honk-uniquifier {
	font-family: "Honk", system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"MORF" 15,
		"SHLN" 50;
}

.lobster-two-regular {
	font-family: "Lobster Two", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lobster-two-bold {
	font-family: "Lobster Two", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lobster-two-regular-italic {
	font-family: "Lobster Two", sans-serif;
	font-weight: 400;
	font-style: italic;
}

/* Lists */
ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

dd {
	margin: 0 0 0 40px;
}

nav ul,
nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

/* Hypertext links */
a {
	color: rgb(255, 98, 190);
	text-decoration: none;
}

a:hover {
	color: rgba(255, 140, 236, 0.486);
	background-color: #fff9a075;
}

a:focus {
	outline: thin dotted;
}

a:active {
	outline: 0;
}

/* Navigation bar */
header nav {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

header nav ul {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding: 0;
	margin: 0;
}

header nav ul li a {
	display: block;
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	border-radius: 20px;
	text-align: center;
}

/* Footer */
footer {
	clear: left;
	left: 0;
	bottom: 0;
	background-color: #fc87b46b;
	color: white;
	text-align: center;
	height: 30px;
	width: 100%;
	font-size: 0.7em;
	position: fixed;
}


@media (max-aspect-ratio:1/1) {

	.tree1 {
		position:absolute;
		left: 350px;
		top: 500px;
	
	}

	.tree2 {
		position:absolute;
		left: 1300px;
		top: 500px;
	}

	.tree {
		position:absolute;
		left: 750px;
		top: 900px;
		
	}
	nav {
		position: absolute;
		font-size: 100px;
		left: 50%;
	}

	h1 {
		position:absolute;
		font-size: 250px;
		left: 500px;
		top: 75px;
	}
}