@charset "utf-8";





table,
th,
td {
    background-color: rgba(255, 124, 222, 0.24);
    border: 4px solid rgba(240, 72, 170, 0.329);

}


table {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1em;
    padding: 0.8%;
}

@media (max-aspect-ratio:1/1) {

    

    h1 {
        position: absolute;
        left: 50%;
        font-size: 100px;
        top: 150%;
    }


    table,
    th,
    td {
        background-color: rgba(255, 124, 222, 0.24);
        border: 4px solid rgba(240, 72, 170, 0.329);
        font-size: 1.3em;
        padding: 20px;
        text-align: center;
        vertical-align: middle;
    }

    table {
        position: absolute;
        top: 30%;
        left: 40%;
        font-size: 60px;
    }

    form {
        top: 160%;
        left: 32.5%;
        width: 1000px;
        font-size: 60px;
    }

}

form {
    background-color: rgba(255, 124, 222, 0.24);
    border: 4px solid rgba(240, 72, 170, 0.329);
    vertical-align: middle;
    font-size: 1.3em;
    padding: 20px;
    max-width: 800px;
    position: absolute;
    margin-left: 31.5%;
    border-radius: 12px;
}

textarea {
    margin-top: 8%;
    margin-left: 26%;
    max-width: 400px;
}

button {
    background-color: pink;
    font-size: 32px;
    border-radius: 30px;
    color: white;
    border: 4px solid rgba(240, 72, 170, 0.329);
    margin-left: 35%;
}